<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Users</h1>
    <p class="lead">List of Users</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>


<br><br><br>
<div class="container" data-ng-init="init()">
  <!-- Columns are always 50% wide, on mobile and desktop -->
  <table class="table table-hover table table-condensed" ng-repeat="users in allUsers">
    <tr>
      <td> <a href="#">{{users.username}}</a></td>
      <!-- <td> {{users.role | uppercase}}</td> -->
    </tr>
  </table>
</div>
